.header_container {
  background-color: white;
  margin-bottom: 10px;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  .header_logo {
    text-align: center;
  }
  .header_cols {
    cursor: pointer;
  }
  .header_cols:hover {
    background-color: rgba(146, 129, 245, 0.918);
  }
}
