.header_container {
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  .header_logo {
    text-align: center;
  }
  .header_cols {
    cursor: pointer;
  }
  .header_cols:hover {
    background-color: rgba(146, 129, 245, 0.918);
  }
}
