.sidebar_container {
  width: 250px !important;

  .select{
   text-align: middle;
 margin-left: 50px;
    font-weight: 700;
    font-size: 20px;
    width: 100%;
  }

  :global{
  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border-radius: 9px;
    text-align: center;
    
  }
}
}
