.singleProduct_container {
  
  margin-top: 5%;
  //leftSidebstyle
  .left_side {
    display: flex;
    justify-content: space-around;
    .main_image_box {
      border-radius: 4px;
      .main_image {
        border-radius: 4px;
      }
    }
    .othersImg {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      :global {
        .ant-image {
          margin: 10px 0;
        }
      }
    }
  }

  .divider_box {
    text-align: center;
    :global {
      .ant-divider-vertical {
        border-left: 3px solid rgba(0, 0, 0, 0.06) !important;
      }
    }
    .divider {
      height: 100%;
      color: rgb(92, 92, 92);
      padding: 0 3px;
    }
  }
  .recently {
    margin-top: 50px;
    font-size: 18px;
    font-weight: 500;
  }

  //rightSidebar style
  .right_side {
    padding: 0 10px;
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
      .header_name {
        font-weight: 700;
        font-size: 40px;
      }
      .addToBasket_icon {
        margin-right: 5rem;
        color: #d82322;
        font-size: 30px;
        direction: rtl !important;
        cursor: pointer;
      }
    }

    .price {
      font-weight: 700;
      font-size: 45px;
    }
    .product_description {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 30px;
    }
    .review {
      border-bottom: 1px solid black;
      margin-left: 20px;
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 20px;
    }

    .color_name {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 8px;
    }

    .color_container {
      width: 20%;
      display: flex;
      justify-content: space-between;
      .color {
        border-radius: 50px;
        width: 35px;
        height: 35px;
      }
    }

    .add_button {
      margin-top: 10%;
      margin-left: 20%;
      border: 1px solid #d82322;
      border-radius: 8px;
      align-items: center;
      text-align: center;
      width: 50%;
      height: 70px;
      background-color: #d82322;
      color: white;
      font-size: 30px;
      cursor: pointer;
    }
  }
}
//tablet
@media (max-width: 1000px) {
  .divider_box {
    display: none !important;
  }
}

// mobile
@media (max-width: 660px) {
  .singleProduct_container {
    margin-top: 60px !important;
  }
  .left_side {
    margin-bottom: 30px !important;
    flex-direction: column !important;
    .othersImg {
      flex-direction: row !important;
      :global {
        .ant-image {
          margin: 0 10px !important;
        }
      }
    }
  }

  .right_side {
    padding: unset !important;
  }
}
