.sidebar_container {
  width: 211px !important;
  // border-right: 1px solid #afafaf;

  height: 100%;
  position: fixed;
  overflow: hidden;
  .sidebar_header_container {
    margin-top: 1rem;
    margin-left: -40px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    font-size: 30px;
    color: #888787;
    align-items: center;

    .sidebar_header {
      font-size: 30px;
      font-weight: 600;
      margin-left: 5px;
    }
  }

  .select {
    width: 100%;

    font-size: 20px;
    font-weight: 500;
  }

  :global {
    .ant-select:not(.ant-select-customize-input) .ant-select-selector {
      border-radius: 9px;
      text-align: center;
    }
  }
}
