* {
    font-family: shabnam !important;
  }
  
  .header-container {
    font-size: 17px;
    padding: 15px 10px;
    background-color: rgb(247, 247, 247);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    max-height: 98px;
  }
  
  .header-cols {
    display: flex;
    flex-direction: row;
    text-align: center;
  }
 
  
  .header-items{
    color: black !important;

  }

  link {
    text-decoration: none;
  }

  