.profile_Container{
    align-items: center;
    margin: 5%;
    width: 90%;
    height: 100%;
    padding: 20px;
    border:1px solid #ced2d4;
    border-radius:5px ;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    :global{
    .ant-tabs-tab-btn{
        color: #d30606;
    font-size: 20px;
    font-weight: 500;
    }
}
.lastname_editedprofile{
    margin-left: 2%;
}



.h4profile{
    font-weight: 600;
    font-size:20px;
    color: #7a7a7a;
    margin-top: 8%;
}

.h4editedprofile{
    font-weight: 600;
    font-size:20px;
    color: #000000;
    margin-top: 8%;
}



}